.color-box {
    height: 50vh;
    width: 12vw;
    border-width: 10px;
    border-style: solid;
}

.color-label {
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-right-style: solid;
    border-right-width: 10px;
    border-left-style: solid;
    border-left-width: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .color-container {
        display: flex;
        margin-bottom: 40px;
    }

    .color-swatches-container {
        flex-direction: column;
    }

    .color-box {
        height: 10vh;
        width: 45vw;
    }

    .color-label {
        height: 10vh;
        width: 15vw;
        border-left-style: none;
        border-top-style: solid;
        border-top-width: 10px;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    .color-container {
        display: flex;
        margin-bottom: 40px;
    }

    .color-swatches-container {
        flex-direction: column;
    }

    .color-box {
        height: 10vh;
        width: 40vw;
    }

    .color-label {
        font-size: 20px;
        height: 10vh;
        width: 15vw;
        border-left-style: none;
        border-top-style: solid;
        border-top-width: 10px;
    }

    .arrow-icon {
        font-size: 50px;
    }

    .arrow-icon:hover {
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    .color-container {
        display: flex;
        margin-bottom: 40px;
    }

    .color-swatches-container {
        flex-direction: column;
    }

    .color-box {
        height: 10vh;
        width: 25vw;
    }

    .color-label {
        font-size: 15px;
        height: 10vh;
        width: 20vw;
        border-left-style: none;
        border-top-style: solid;
        border-top-width: 10px;
    }

    .arrow-icon {
        font-size: 50px;
    }

    .arrow-icon:hover {
        font-size: 50px;
    }
}
