.tile {
    height: 250px;
    width:  250px;
    border-style: solid;
    border-width: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.tile:hover {
    height: 275px;
    width: 275px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    cursor: pointer;
}

.tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-label {
    font-size: 50px;;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .tile {
        height: 175px;
        width: 175px;
    }

    .tile:hover {
        height: 200px;
        width: 200px;
    }

    .tile-label {
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {
    .tile {
        height: 100px;
        width: 100px;
    }

    .tile:hover {
        height: 125px;
        width: 125px;
    }

    .tile-label {
        font-size: 25px;
    }
}